---
import InternalLayout from "../layouts/InternalLayout.astro";
---

<InternalLayout>
  <h1>Sobre nós</h1>
  <p>
    A Miblify é uma plataforma de vendas de conteúdo digital que visa simplificar a vida dos criadores iniciantes, times
    de uma pessoa só, bandas de um membro.
  </p>
  <p>
    Para entender melhor nossas motivações e nossa missão, leia nosso
    <a href="/manifest" class="link">Manifesto</a>.
  </p>
</InternalLayout>
