---
import InternalLayout from "../layouts/InternalLayout.astro";
---

<InternalLayout title="Sobre nós">
  <h1>Sobre nós</h1>
  <p>A Miblify é uma plataforma de vendas de conteúdo digital que nasceu para simplificar a vida dos criadores.</p>
  <p>
    Nossa missão é permitir que você que é criador possa vender seu produto digital sem burocracia e sem taxas abusivas.
  </p>
  <p>
    Acreditamos que a tecnologia deve ser uma aliada do criador, e não um obstáculo. Por isso, trabalhamos para oferecer
    uma plataforma simples, intuitiva e eficiente, que permita que você foque no que realmente importa: criar e vender
    seu produto digital.
  </p>
  <p>
    Para entender melhor nossas motivações e nossa missão, leia nosso
    <a href="/manifest" class="link">Manifesto</a>.
  </p>
</InternalLayout>
