---
import InternalLayout from "../layouts/InternalLayout.astro";
---

<InternalLayout>
  <h1>Contato</h1>
  <p>
    Se você tiver alguma dúvida ou quiser entrar em contato conosco, envie um email para
    <a href="mailto:miblify@miblify.com">miblify@miblify.com</a>.
  </p>
</InternalLayout>
