---
import InternalLayout from "../layouts/InternalLayout.astro";
---

<InternalLayout>
  <h1>Nosso manifesto</h1>

  <p>
    Apesar de existirem inúmeras plataformas de vendas de conteúdo digital, elas se encaixam em dois grandes grupos:
    aquelas que até aceitam iniciantes, mas com a condição de se tornarem sócias delas com taxas que ultrapassam os 10%
    sobre vendas - essas não querem clientes, querem dizimistas; e aquelas que focam em grandes vendedores, que até
    oferecem integração com Gateways diferentes, mas com mensalidades proibitivas e até limites de vendas.
  </p>
  <p>
    Na Miblify acreditamos que podemos fazer melhor. Não precisa pagar dízimo para a plataforma, nem mensalidades
    exorbitantes para ter a liberdade e a conveniência de vender seu primeiro produto digital para seus seguidores.
  </p>
  <p>Acreditamos que não faz sentido uma plataforma limitar a quantidade de vendas de um cliente.</p>
  <p>Acreditamos que não faz sentido cobrar uma mensalidade por cada aluno ou membro de sua comunidade.</p>
  <p>Acreditamos que não faz sentido pagar uma taxa para sacar o seu dinheiro.</p>
  <p>Acreditamos que não faz sentido esperar dias ou semanas pra receber um Pix instantâneo.</p>
  <p>Acreditamos que não faz sentido complicar a vida de quem quer vender seu produto digital.</p>
  <p>
    Feito por quem já sentiu essa dor. Feito por quem já teve que pagar taxas exorbitantes para vender seu produto
    digital. Feito por quem já teve que lidar com burocracia. Quem teve que pagar tarifa de saque para receber seu
    pagamento.
  </p>
  <p>A Miblify foi feita para você, que acredita que pode fazer diferente. Vamos fazer diferente, juntos.</p>
  <p class="text-base-content/50">Kennedy Lucas, criador da Miblify</p>
</InternalLayout>
