---
import { Image } from "astro:assets";
import palmaDaMao from "../assets/img/miblify-palma-da-mao.png";
import ArrowRight from "phosphor-astro/ArrowRight.astro";
---

<section class="max-w-6xl mx-auto px-6 my-12">
  <div
    class="bg-[#9F7AEA] rounded-2xl overflow-hidden relative flex flex-col md:flex-row items-center justify-between p-6 md:p-20 border-[3px] border-[#1A1A1A] shadow-[8px_8px_0_0_#1A1A1A]">
    <div class="md:w-3/5 z-10 text-center md:text-left mb-6 md:mb-0">
      <h2 class="text-3xl md:text-5xl font-bold text-white font-cabinet-bold leading-tight mb-10">
        Venda seu produto digital em minutos. Sem taxas absurdas, sem enrolação.
      </h2>
      <a
        href="https://www.miblify.com/?utm_source=blog&utm_medium=cta&utm_campaign=blog"
        class="inline-flex items-center gap-3 bg-amarelo border-2 border-[#1A1A1A] text-[#1A1A1A] p-5 rounded-xl font-bold text-md md:text-2xl transition-all hover:-translate-y-1 active:translate-y-0 shadow-[4px_4px_0_0_#1A1A1A] hover:shadow-[8px_8px_0_0_#1A1A1A] active:shadow-[2px_2px_0_0_#1A1A1A]">
        Começar agora de graça
        <ArrowRight :weight="bold" class="size-6" />
      </a>
    </div>
    <div class="md:w-2/5 flex justify-end relative mt-2 md:mt-0">
      <Image
        src={palmaDaMao}
        alt="Miblify na palma da mão"
        class="w-full h-auto max-w-[450px] md:max-w-none md:scale-125 origin-center drop-shadow-2xl"
      />
    </div>
  </div>
</section>
